* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}



.d-flex{
  display: flex;

}
.justify-center{
  justify-content: center;
}
.center{
  justify-content: center;
  align-items: center;
}
.btn{
  margin: .5rem;
  padding: .3rem .5rem;
  font-size: small;
  font-weight: bold;
  border-radius: 8px;
  letter-spacing: .8px
}

.btn-danger {
  color: #fff;
  background-color: rgb(204, 99, 99);
  border-color: rgb(172, 83, 83);
}